@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-surface: #faf9f5;
  --color-surface-container-low: #f4f4f0;
  --color-surface-container-high: #e9e8e4;
  --color-surface-container-highest: #e3e2df;
  --color-surface-container-lowest: #ffffff;
  
  --color-primary: #0d631b;
  --color-primary-container: #2e7d32;
  --color-on-primary-container: #cbffc2;
  
  --color-secondary: #79564b;
  --color-secondary-container: #fed0c1;
  --color-on-secondary-container: #79574c;
  
  --color-tertiary: #755b00;
  --color-tertiary-container: #cea62b;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  
  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #40493d;
  --color-outline-variant: #bfcaba;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap');

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}
